body{
 color:color-mix(in hsl shorter hue, color percentage, color percentage);
 background:orange;
 margin:0px;
} 
header {
border-bottom:solid 2 px color(srgb rgb(109, 49, 49) green blue);
padding: 20 px;
font-size: 32 px;
color: antiquewhite;
}
section {
    background: rgb(160, 120, 33);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

section {
    display: block;
    unicode-bidi: isolate;
}
img {
    height: 200px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
section {
  padding-left: 20px;
  padding-right: 20px;
}